<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="/css/styles.css">
    <link rel="icon" type="image/x-icon" href="/assets/atcfav.ico">
    <title>
        <%= TITLE %>
    </title>
    <style>
        form .checkbox {
            display: flex;
            flex-direction: row;
            gap: 2rem;
        }

        .check1 {
            width: 2.25rem;
            height: 2.25rem;
            border-radius: 0.5rem;
            border: 2px solid black;
            cursor: pointer;
            background-color: rgba(0, 0, 0, 0.1);
            border: none;
        }

        .check2 {
            width: 2.25rem;
            height: 2.25rem;
            border-radius: 0.5rem;
            background: url(../assets/Vector.png) no-repeat center center/70%;
            background-color: #059e00;
            border: 2px solid #059e00;
            cursor: pointer;
        }

        .agreement-signup {
            display: flex;
            gap: 1.1em;
        }

        .checkbox {
            display: flex;
            flex-direction: row;
            gap: 2rem;
        }

        .grid-span-full {
            grid-column: 1/-1;
        }
    </style>
</head>

<body>