<%- include('./partials/_header', {TITLE: title}) %>
    <div class="container">
        <form class='' action="/password-reset/new-password" method="post">
            <div class="form-header">
                <img src="/assets/logo.png" class="logo" alt="logo">
            </div>
            <div class="form-group">
                <label for="password">New Password</label>
                <input type="password" class="form-control" id="password"
                    placeholder="Enter New Password (min 6 characters)" name="password" />
            </div>
            <small class="form-group error-msg">Password should not be less than 6 characters</small>
            <button type="submit" class="btn btn-primary" id="set_password">Set this Password</button>
        </form>
    </div>
    <%- include('./partials/_footer') %>