<%- include('./partials/_header', {TITLE: title}) %>
    <div class="container">
        <form action="/password-reset?auth=<%=authCode%>" method="post">
            <div class="form-header">
                <img src="/assets/logo.png" class="logo" alt="logo">
            </div>
            <div class="form-group">
                <label for="email">Email address / Phone Number</label>
                <input type="email" class="form-control" id="email" aria-describedby="emailHelp"
                    placeholder="Email Address or Phone Number of Registered Account" name="username" />
            </div>
            <small class="form-group error-msg">This email or phone doesn't belongs to a registered account. Try another
                one.</small>
            <button type="submit" class="btn btn-primary" id="reset_password">Reset Password</button>
        </form>
    </div>
    <%- include('./partials/_footer') %>